td {
	text-align: left;
	vertical-align: top;
}
body {
	background-color: #000000;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CCCCCC;
}
.nav {
	background-image: url(images/nav_back.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.header {
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.foot {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 100px;
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-bottom: 40px;
}
.content {
	padding-right: 132px;
	padding-left: 132px;
	text-align: justify;
}
.home_content {
	width: 416px;
	text-align: justify;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}
